.gallery-section{
    padding: 24px 156px;
}

.gallery{

list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 0;
margin: 0;
gap: 24px;
}

.gallery-item {
    flex-basis: calc((100% - 48px) / 3);
    box-sizing: border-box;
}
.gallery-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.sl-wrapper {
    background-color: rgba(46, 47, 66, 0.8) !important;
}

.form {
 font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;

  margin: 0;
}

.feedback-form {
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 360px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
text-align: start;
}

.feedback-form input,
.feedback-form textarea {
  margin-top: 8px;
  padding: 10px;
  font-size: 14px;
border: 1px solid #808080;
border-radius: 4px;
max-width: 360px;
  resize: none;
  outline: none;
  transition: border-color 0.2s;
}

.feedback-form button {
    border-radius: 8px;
padding: 8px 16px;
width: 95px;
height: 40px;
  padding: 12px;
  font-size: 16px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  
}
